.milk {
  &__input[type="radio"]:checked + .control__mark-radio {
    border-color: var(--base-primary);

    &::before {
      background-color: var(--base-primary);
    }
  }

  &__input[type="radio"]:disabled + .control__mark-radio {
    border-color: var(--base-light-grey);
  }

  &__input[type="radio"]:disabled:checked + .control__mark-radio {
    border-color: var(--base-light-grey);

    &::before {
      background-color: var(--base-light-grey);
    }
  }

  &__input[type="radio"]:focus + .control__mark-radio {
    border-color: var(--base-primary-lighter);

    &::before {
      background-color: rgba(#7859cf, 0.25);
    }
  }

  &__input[type="radio"]:focus:checked + .control__mark-radio {
    border-color: var(--base-primary);

    &::before {
      background-color: var(--base-primary);
    }
  }
}
