.sort {
  width: 280px;
  padding: 0;
  margin: 0 auto;

  @media (min-width: 768px) {
    margin: 0;
    justify-self: end;
    margin-bottom: 30px;
  }

  &__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    border: none;
    margin-bottom: 20px;
    width: 280px;

    @media (min-width: 768px) {
      width: auto;
      margin: 0;
    }
  }

  &__title {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 0;
    margin: 0;
  }
}
